html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hlogo{
    font-size: 24px;
    color: #F9FaF8;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hcontent .text{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.mheader{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.header1{
    display: flex; 
    margin-bottom: 100px;
    justify-content: space-around;
}

.header2{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
}

.hcontent{
    width: 300px;
}

.main-img img{
    width: 500px;
    height: 250px;
}

button{
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    border-radius: 4px;
    padding: 5px 20px;
}

.info{
    text-align: center;
    margin-bottom: 100px;
}

.info .title{
    font-size: 36px;
    font-weight: 900;
    margin: 50px 0;
    color: #1F2937;
}

.info img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 4px solid #3882F6;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.one, .two, .three, .four{
    max-width: 200px;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote .text{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    text-align: left;
    max-width: 1100px;
    margin-top: 100px;
}

.cite{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 100px;
    margin-left: 800px;
}

.modal{
    background-color: #3882F6;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin: 100px 0;
    padding: 25px 200px;
    max-width: 1100px;
}

.modal .head{
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.modal .text{
    font-size: 16px;
    color: #E5E7EB;
}

.modal button{
    background-color: #3882F6;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    padding: 5px 20px;
    margin: 25px 0;
}

.modal .htext{
    width: 700px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer{
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
}